{
  "passPerPreset": true,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.10"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-inline-import",
    "@babel/plugin-transform-spread",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "core": "./src/core",
          "social-providers": "./src/social-providers"
        }
      }
    ]
  ]
}
